.logo {
  width: 136px;
  height: 33px;
  display: inline-block;
  vertical-align: top;
  background: url("../img/logo.png");
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  @media(max-width: $screen-sm){
    width: 88px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {
    width: 90px;
    height: 33px;
    background: url("../img/logo-2x.png");
  }
}