.modal-backdrop {
  background-color: rgba(0,0,0,.6);

  &.in {
    opacity: 1;
  }
}

.modal-dialog {
  width: 100%;
  max-width: 900px;
  @media(max-width: 768px){
    margin: 0px auto;
  }
  @media(max-width: $screen-sm){
    margin: 0;
  }

  &--mini {
    max-width: 503px;
    @media (max-width: $screen-md) {
      max-width: 285px;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}

.modal-content {
  border: none;
  border-radius: 0px;
}